# Allow NFC service to be found
allow platform_app nfc_service:service_manager find;

# Allow PowerShare HAL service to be found
hal_client_domain(platform_app, hal_lineage_powershare)

# Allow CPUInfo access to thermal
allow platform_app sysfs_thermal:dir search;
allow platform_app sysfs_thermal:file r_file_perms;

# Allow SystemUI to set touch sensitivity prop
allow platform_app debug_prop:property_service set;

# Allow LiveDisplay HAL service to be found
hal_client_domain(platform_app, hal_lineage_livedisplay)

# Allow Touch HAL service to be found
hal_client_domain(platform_app, hal_lineage_touch)

# Allow externalstorage access
allow platform_app mnt_pass_through_file:dir { create_dir_perms mounton };
